.card {
  position: relative;
  left: 5%;
  width: 600px;
  height: 600px;
  display: flex;
}

.archer {
  height: 400px;
  width: 200px;
  background-image: url("/archer-idle.png");
  background-size: initial;
  background-position: center;
  filter: grayscale(50%) contrast(50%) brightness(50%);
  overflow: hidden;
}

.archer:hover {
  background-image: url("/archer-idle.gif");
  filter: none;
}

.archer-selected,
.archer-selected:hover {
  background-image: url("/archer-taunt.gif");
  filter: none;
}

.barb {
  height: 400px;
  width: 200px;
  background-image: url("/barb-idle.png");
  background-size: initial;
  background-position: center;
  filter: grayscale(50%) contrast(50%) brightness(50%);
  overflow: hidden;
}

.barb:hover {
  background-image: url("/barb-idle.gif");
  filter: none;
}

.barb-selected,
.barb-selected:hover {
  background-image: url("/barb-taunt.gif");
  filter: none;
}

.fire-mage {
  height: 400px;
  width: 400px;
  background-image: url("/fire-mage.png");
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(50%) contrast(50%) brightness(50%);
  overflow: hidden;
}

.fire-mage:hover {
  background-image: url("/fire-mage-idle.gif");
  filter: none;
}

.fire-mage-selected,
.fire-mage-selected:hover {
  background-image: url("/fire-mage-attack.gif");
  filter: none;
}

.barb > .name,
.archer > .name,
.fire-mage > .name {
  text-align: center;
  color: rgba(0, 0, 0, 0);
}

.barb:hover > .name,
.archer:hover > .name,
.fire-mage:hover > .name,
.barb-selected > .name,
.archer-selected > .name,
.fire-mage-selected > .name {
  text-align: center;
  color: antiquewhite;
}
