.card {
  position: relative;
  left: 50%;
  transform: translate(-100%, 0);
  width: 400px;
  height: 400px;
  display: flex;
}

.archer {
  height: 400px;
  width: 300px;
  background-image: url("/archer-idle.png");
  background-size: initial;
  background-position: center;
  filter: grayscale(50%) contrast(50%) brightness(50%);
  overflow: hidden;
}

.archer:hover {
  background-image: url("/archer-idle.gif");
  filter: none;
}

.archer-selected,
.archer-selected:hover {
  background-image: url("/archer-taunt.gif");
  filter: none;
}

.barb {
  height: 400px;
  width: 300px;
  background-image: url("/barb-idle.png");
  background-size: initial;
  background-position: center;
  filter: grayscale(50%) contrast(50%) brightness(50%);
  overflow: hidden;
}

.barb:hover {
  background-image: url("/barb-idle.gif");
  filter: none;
}

.barb-selected,
.barb-selected:hover {
  background-image: url("/barb-taunt.gif");
  filter: none;
}

.barb > .name,
.archer > .name {
  text-align: center;
  color: rgba(0, 0, 0, 0);
}

.barb:hover > .name,
.archer:hover > .name,
.barb-selected > .name,
.archer-selected > .name {
  text-align: center;
  color: antiquewhite;
}
