.card {
  position: relative;
  width: 25%;
  height: 100%;
}

.archer {
  height: 100%;
  width: 100%;

  background-image: url("/archer-idle.png");
  background-size: initial;
  background-position: center;
  margin-top: 10%;
  filter: grayscale(50%) contrast(50%) brightness(50%);
  overflow: hidden;
  animation: moveInLeft 1s ease-out;
}

.archer:hover {
  background-image: url("/archer-idle.gif");
  filter: none;
}

.archer-selected,
.archer-selected:hover {
  background-image: url("/archer-taunt.gif");
  filter: none;
}

.barb {
  height: 100%;
  width: 100%;
  margin-top: 10%;
  background-image: url("/barb-idle.png");
  background-size: initial;
  background-position: center;
  filter: grayscale(50%) contrast(50%) brightness(50%);
  overflow: hidden;
  animation: moveInRight 1s ease-out;
}

.barb:hover {
  background-image: url("/barb-idle.gif");
  filter: none;
}

.barb-selected,
.barb-selected:hover {
  background-image: url("/barb-taunt.gif");
  filter: none;
}

.druid {
  height: 100%;
  width: 100%;
  background-image: url("/druid-idle.png");
  background-size: 500px;
  background-position: center;
  filter: grayscale(50%) contrast(50%) brightness(50%);
  overflow: hidden;
  animation: moveInRight 1s ease-out;
}

.druid:hover {
  background-image: url("/druid-idle.gif");
  filter: none;
}

.druid-selected,
.druid-selected:hover {
  background-image: url("/druid-attack.gif");
  filter: none;
}

.fire-mage {
  height: 100%;
  width: 100%;
  background-image: url("/fire-mage.png");
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(50%) contrast(50%) brightness(50%);
  overflow: hidden;
  animation: moveInLeft 1s ease-out;
}

.fire-mage:hover {
  background-image: url("/fire-mage-idle.gif");
  filter: none;
}

.fire-mage-selected,
.fire-mage-selected:hover {
  background-image: url("/fire-mage-attack.gif");
  filter: none;
}

.archer > .name,
.barb > .name,
.druid > .name,
.fire-mage > .name {
  text-align: center;
  color: rgba(0, 0, 0, 0);
}

.archer:hover > .name,
.barb:hover > .name,
.druid:hover > .name,
.fire-mage:hover > .name,
.archer-selected > .name,
.barb-selected > .name,
.druid-selected > .name,
.fire-mage-selected > .name {
  text-align: center;
  color: antiquewhite;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 400px) {
  .card {
    height: 230px;
    width: 167px;
    border: 1px solid blue;
  }

  .archer {
    margin-top: 20%;
    background-size: 600px;
  }
  .barb {
    background-size: 600px;
  }
  .druid {
    background-size: 400px;
  }
  .fire-mage {
    background-size: 400px;
  }
}
