* {
  font-family: "press_start_kregular", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.login {
  width: 50%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
  color: antiquewhite;
}

.title {
  font-size: 400%;
  margin-bottom: 20%;
  background: rgb(6, 251, 244);
  background: linear-gradient(
    0deg,
    rgba(6, 251, 244, 1) 0%,
    rgba(253, 45, 227, 1) 91%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@media (max-width: 800px) {
  .login {
    width: 80;
    margin: 1rem auto;
  }
  .title {
    font-size: 350%;
    margin-bottom: 10%;
  }
}

@media (max-width: 400px) {
  .login {
    width: 100%;
    margin: 2rem auto;
  }
  .title {
    font-size: 300%;
  }
}
