.main-header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 1rem;
  z-index: 5;
  gap: 10%;
  margin: 0% auto;
  color: rgba(253, 45, 227, 1);
}

.heart-icon {
  width: 24px;
  height: 24px;
}

.score {
  color: rgb(6, 251, 244);
}

@media (max-width: 400px) {
  .main-header {
    font-size: 75%;
  }
  .heart-icon {
    width: 12px;
    height: 12px;
  }
}
